In [13]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [15]:
import os
os.chdir("Raw data")

In [16]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [17]:
os.chdir("..")

In [18]:

JHU_caseAndDeath = pd.read_csv("JHU_caseAndDeath.csv")
JHU_caseAndDeath = JHU_caseAndDeath.iloc[:, 6:]
JHU_caseAndDeath.head()

BU_policyData = pd.read_csv("BU_policyData.csv")
BU_policyData = BU_policyData.iloc[:, 6:]
BU_policyData.head()

,emergency,k12,dayCare,nursing_visitorBan,stayAtHome_declare,nonEssentaialBusiness_closed,closed_restaurants,closed_gyms,closed_movieTheatres,Froze_evictions,Froze_utilityShutoff,Froze_mortgagePayments,relegiousGathering,AlcoholStores_open,firearms_open,Medical_expansion,Paid_sick_leaves
0,2020-03-13,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,2020-03-19 00:00:00,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
1,2020-03-13,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,2020-03-19 00:00:00,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
2,2020-03-13,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,2020-03-19 00:00:00,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
3,2020-03-13,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,2020-03-19 00:00:00,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
4,2020-03-13,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,2020-03-19 00:00:00,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0

In [19]:
merged = pd.concat([fips, JHU_caseAndDeath, BU_policyData], axis=1)
merged

,stfips,stname,ctyfips,ctyname,fips,cases_01222020,cases_01232020,cases_01242020,cases_01252020,cases_01262020,...,closed_gyms,closed_movieTheatres,Froze_evictions,Froze_utilityShutoff,Froze_mortgagePayments,relegiousGathering,AlcoholStores_open,firearms_open,Medical_expansion,Paid_sick_leaves
0,1,Alabama,0,0,0,0,0,0,0,0,...,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,2020-03-28 00:00:00,2020-03-28 00:00:00,0,0,0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3323,72,Puerto Rico,unknown,unknown,unknown,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
merged.to_csv("mergedPandemic.csv")