In [23]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [24]:
import os
os.chdir("../Raw data")

In [25]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]
fips.head()

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [26]:
# importing the 5 mmr data
cardiovascular = pd.read_excel('cardiovascular.xlsx')
cardiovascular = cardiovascular.iloc[:, 2:]
cardiovascular.head()

diabetes = pd.read_excel('diabetes.xlsx')
diabetes = diabetes.iloc[:, 2:]
diabetes.head()

mental = pd.read_excel('mental.xlsx')
mental = mental.iloc[:, 2:]
mental.head()

neoplasm = pd.read_excel('neoplasm.xlsx')
neoplasm = neoplasm.iloc[:, 2:]
neoplasm.head()

respiratory = pd.read_excel('respiratory.xlsx')
respiratory = respiratory.iloc[:, 2:]
respiratory.head()

   State Code              County  County Code  Deaths  Population  Crude Rate
0           1  Autauga County, AL         1001      83       55601       149.3
1           1  Baldwin County, AL         1003     225      218022       103.2
2           1  Barbour County, AL         1005      18       24881  Unreliable
3           1     Bibb County, AL         1007      31       22400       138.4
4           1   Blount County, AL         1009     112       57840       193.6

In [27]:
def row_loc_county(inp):
    location = fips.index[(fips['fips']) == inp].values
    location = location.tolist()
    return location

In [28]:
respiratory

,State Code,County,County Code,Deaths,Population,Crude Rate
0,1,"Autauga County, AL",1001,83,55601,149.3
1,1,"Baldwin County, AL",1003,225,218022,103.2
2,1,"Barbour County, AL",1005,18,24881,Unreliable
3,1,"Bibb County, AL",1007,31,22400,138.4
4,1,"Blount County, AL",1009,112,57840,193.6
...,...,...,...,...,...,...
2596,56,"Platte County, WY",56031,24,8566,280.2
2597,56,"Sheridan County, WY",56033,59,30233,195.2
2598,56,"Sweetwater County, WY",56037,35,43051,81.3
2599,56,"Uinta County, WY",56041,16,20299,Unreliable
2600,56,"Washakie County, WY",56043,15,7885,Unreliable

In [29]:
fips["c_population"] = "0"
fips["cardiovascular_deaths"] = "0"
fips["cardiovascular_crudeRate"] = "0"

fips["d_population"] = "0"
fips["diabetes_deaths"] = "0"
fips["diabetes_crudeRate"] = "0"

fips["m_population"] = "0"
fips["mental_deaths"] = "0"
fips["mental_crudeRate"] = "0"

fips["n_population"] = "0"
fips["neoplasm_deaths"] = "0"
fips["neoplasm_crudeRate"] = "0"

fips["r_population"] = "0"
fips["respiratory_deaths"] = "0"
fips["respiratory_crudeRate"] = "0"

fips.tail()

,stfips,stname,ctyfips,ctyname,fips,c_population,cardiovascular_deaths,cardiovascular_crudeRate,d_population,diabetes_deaths,diabetes_crudeRate,m_population,mental_deaths,mental_crudeRate,n_population,neoplasm_deaths,neoplasm_crudeRate,r_population,respiratory_deaths,respiratory_crudeRate
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3323,72,Puerto Rico,unknown,unknown,unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
for i in range(cardiovascular.shape[0]):
    fips.iloc[row_loc_county(cardiovascular.iloc[i, 2]), fips.columns.get_loc("cardiovascular_deaths")] = cardiovascular.iloc[i, 3]
    fips.iloc[row_loc_county(cardiovascular.iloc[i, 2]), fips.columns.get_loc("c_population")] = cardiovascular.iloc[i, 4]
    fips.iloc[row_loc_county(cardiovascular.iloc[i, 2]), fips.columns.get_loc("cardiovascular_crudeRate")] = cardiovascular.iloc[i, 5]

for i in range(diabetes.shape[0]):
    fips.iloc[row_loc_county(diabetes.iloc[i, 2]), fips.columns.get_loc("diabetes_deaths")] = diabetes.iloc[i, 3]
    fips.iloc[row_loc_county(diabetes.iloc[i, 2]), fips.columns.get_loc("d_population")] = diabetes.iloc[i, 4]
    fips.iloc[row_loc_county(diabetes.iloc[i, 2]), fips.columns.get_loc("diabetes_crudeRate")] = diabetes.iloc[i, 5]

for i in range(mental.shape[0]):
    fips.iloc[row_loc_county(mental.iloc[i, 2]), fips.columns.get_loc("mental_deaths")] = mental.iloc[i, 3]
    fips.iloc[row_loc_county(mental.iloc[i, 2]), fips.columns.get_loc("m_population")] = mental.iloc[i, 4]
    fips.iloc[row_loc_county(mental.iloc[i, 2]), fips.columns.get_loc("mental_crudeRate")] = mental.iloc[i, 5]
    
for i in range(neoplasm.shape[0]):
    fips.iloc[row_loc_county(neoplasm.iloc[i, 2]), fips.columns.get_loc("neoplasm_deaths")] = neoplasm.iloc[i, 3]
    fips.iloc[row_loc_county(neoplasm.iloc[i, 2]), fips.columns.get_loc("n_population")] = neoplasm.iloc[i, 4]
    fips.iloc[row_loc_county(neoplasm.iloc[i, 2]), fips.columns.get_loc("neoplasm_crudeRate")] = neoplasm.iloc[i, 5]
    
for i in range(respiratory.shape[0]):
    fips.iloc[row_loc_county(respiratory.iloc[i, 2]), fips.columns.get_loc("respiratory_deaths")] = respiratory.iloc[i, 3]
    fips.iloc[row_loc_county(respiratory.iloc[i, 2]), fips.columns.get_loc("r_population")] = respiratory.iloc[i, 4]
    fips.iloc[row_loc_county(respiratory.iloc[i, 2]), fips.columns.get_loc("respiratory_crudeRate")] = respiratory.iloc[i, 5]

In [31]:
for i in range(fips.shape[0]):
    for j in range(20):
        if fips.iloc[i, j] == 'Unreliable':
            fips.iloc[i, j] = ""

In [32]:
fips

,stfips,stname,ctyfips,ctyname,fips,c_population,cardiovascular_deaths,cardiovascular_crudeRate,d_population,diabetes_deaths,diabetes_crudeRate,m_population,mental_deaths,mental_crudeRate,n_population,neoplasm_deaths,neoplasm_crudeRate,r_population,respiratory_deaths,respiratory_crudeRate
0,1,Alabama,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,55601,164,295.0,55601,29,52.2,55601,13,,55601,95,170.9,55601,83,149.3
2,1,Alabama,3,Baldwin County,1003,218022,762,349.5,218022,26,11.9,218022,113,51.8,218022,559,256.4,218022,225,103.2
3,1,Alabama,5,Barbour County,1005,24881,125,502.4,0,0,0,24881,10,,24881,69,277.3,24881,18,
4,1,Alabama,7,Bibb County,1007,22400,104,464.3,0,0,0,0,0,0,22400,59,263.4,22400,31,138.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3323,72,Puerto Rico,unknown,unknown,unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips

,stfips,stname,ctyfips,ctyname,fips,c_population,cardiovascular_deaths,cardiovascular_crudeRate,d_population,diabetes_deaths,diabetes_crudeRate,m_population,mental_deaths,mental_crudeRate,n_population,neoplasm_deaths,neoplasm_crudeRate,r_population,respiratory_deaths,respiratory_crudeRate
1,1,Alabama,1,Autauga County,1001,55601,164,295.0,55601,29,52.2,55601,13,,55601,95,170.9,55601,83,149.3
2,1,Alabama,3,Baldwin County,1003,218022,762,349.5,218022,26,11.9,218022,113,51.8,218022,559,256.4,218022,225,103.2
3,1,Alabama,5,Barbour County,1005,24881,125,502.4,0,0,0,24881,10,,24881,69,277.3,24881,18,
4,1,Alabama,7,Bibb County,1007,22400,104,464.3,0,0,0,0,0,0,22400,59,263.4,22400,31,138.4
5,1,Alabama,9,Blount County,1009,57840,216,373.4,0,0,0,57840,19,,57840,138,238.6,57840,112,193.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3318,72,Puerto Rico,145,Vega Baja Municipio,72145,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [34]:
os.chdir("../intermediate data")

In [36]:
fips.to_csv("mmr.csv")

In [41]:
fips.iloc[3219, 5] = ""
fips.iloc[3219, 5]

''