In [50]:
import pandas as pd
from datetime import datetime
import numpy as np

In [52]:
df = pd.read_csv("https://covidtracking.com/api/v1/states/daily.csv")
df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200428,AK,351.0,16738.0,NaN,16.0,NaN,NaN,NaN,NaN,...,NaN,17089.0,17089.0,17089.0,2,0.0,0.0,827.0,6.0,833.0
1,20200428,AL,6687.0,69140.0,NaN,NaN,911.0,NaN,335.0,NaN,...,911.0,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
2,20200428,AR,3111.0,37560.0,NaN,104.0,NaN,NaN,NaN,20.0,...,NaN,40671.0,40671.0,40671.0,5,2.0,0.0,120.0,94.0,214.0
3,20200428,AS,0.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,20200428,AZ,6948.0,60490.0,NaN,737.0,1095.0,303.0,NaN,193.0,...,1095.0,67438.0,67438.0,67438.0,4,18.0,44.0,663.0,232.0,895.0

In [55]:
dates = []
for date in df.iloc[:, 0]:
    if date not in dates:
        dates.append(date)
dates.sort()
#dates

In [57]:
list_of_cols = []
for date in dates:
    for cols in p.columns[2:]:
        list_of_cols.append(str(date) + "_" + cols)
#list_of_cols

In [58]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips.iloc[3142]
fips = fips.reset_index(drop=True)
fips = fips[0:3142]
fips.head()

   stfips   stname ctyfips         ctyname  fips
0       1  Alabama       1  Autauga County  1001
1       1  Alabama       3  Baldwin County  1003
2       1  Alabama       5  Barbour County  1005
3       1  Alabama       7     Bibb County  1007
4       1  Alabama       9   Blount County  1009

In [59]:
for cols in list_of_cols:
    fips[cols] = ""
fips.head()

,stfips,stname,ctyfips,ctyname,fips,20200122_positive,20200122_negative,20200122_pending,20200122_hospitalizedCurrently,20200122_hospitalizedCumulative,...,20200428_hospitalized,20200428_total,20200428_totalTestResults,20200428_posNeg,20200428_fips,20200428_deathIncrease,20200428_hospitalizedIncrease,20200428_negativeIncrease,20200428_positiveIncrease,20200428_totalTestResultsIncrease
0,1,Alabama,1,Autauga County,1001,,,,,,...,,,,,,,,,,
1,1,Alabama,3,Baldwin County,1003,,,,,,...,,,,,,,,,,
2,1,Alabama,5,Barbour County,1005,,,,,,...,,,,,,,,,,
3,1,Alabama,7,Bibb County,1007,,,,,,...,,,,,,,,,,
4,1,Alabama,9,Blount County,1009,,,,,,...,,,,,,,,,,

In [64]:
for i in range(df.shape[0]):
    for cols in df.columns[2:]:
        fips.loc[fips["stfips"] == df.iloc[i, 19], (str(df.iloc[i, 0]) + "_" + cols)] = df.loc[i, cols]

In [60]:
df

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200428,AK,351.0,16738.0,NaN,16.0,NaN,NaN,NaN,NaN,...,NaN,17089.0,17089.0,17089.0,2,0.0,0.0,827.0,6.0,833.0
1,20200428,AL,6687.0,69140.0,NaN,NaN,911.0,NaN,335.0,NaN,...,911.0,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
2,20200428,AR,3111.0,37560.0,NaN,104.0,NaN,NaN,NaN,20.0,...,NaN,40671.0,40671.0,40671.0,5,2.0,0.0,120.0,94.0,214.0
3,20200428,AS,0.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,20200428,AZ,6948.0,60490.0,NaN,737.0,1095.0,303.0,NaN,193.0,...,1095.0,67438.0,67438.0,67438.0,4,18.0,44.0,663.0,232.0,895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036,20200126,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,53,0.0,0.0,0.0,0.0,0.0
3037,20200125,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,53,0.0,0.0,0.0,0.0,0.0
3038,20200124,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,53,0.0,0.0,0.0,0.0,0.0
3039,20200123,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,53,0.0,0.0,0.0,0.0,0.0
3040,20200122,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,53,NaN,NaN,NaN,NaN,NaN

In [65]:
fips

,stfips,stname,ctyfips,ctyname,fips,20200122_positive,20200122_negative,20200122_pending,20200122_hospitalizedCurrently,20200122_hospitalizedCumulative,...,20200428_hospitalized,20200428_total,20200428_totalTestResults,20200428_posNeg,20200428_fips,20200428_deathIncrease,20200428_hospitalizedIncrease,20200428_negativeIncrease,20200428_positiveIncrease,20200428_totalTestResultsIncrease
0,1,Alabama,1,Autauga County,1001,,,,,,...,911,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
1,1,Alabama,3,Baldwin County,1003,,,,,,...,911,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
2,1,Alabama,5,Barbour County,1005,,,,,,...,911,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
3,1,Alabama,7,Bibb County,1007,,,,,,...,911,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
4,1,Alabama,9,Blount County,1009,,,,,,...,911,75827.0,75827.0,75827.0,1,20.0,39.0,1642.0,188.0,1830.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,Wyoming,37,Sweetwater County,56037,,,,,,...,56,8615.0,8615.0,8615.0,56,0.0,2.0,429.0,19.0,448.0
3138,56,Wyoming,39,Teton County,56039,,,,,,...,56,8615.0,8615.0,8615.0,56,0.0,2.0,429.0,19.0,448.0
3139,56,Wyoming,41,Uinta County,56041,,,,,,...,56,8615.0,8615.0,8615.0,56,0.0,2.0,429.0,19.0,448.0
3140,56,Wyoming,43,Washakie County,56043,,,,,,...,56,8615.0,8615.0,8615.0,56,0.0,2.0,429.0,19.0,448.0
3141,56,Wyoming,45,Weston County,56045,,,,,,...,56,8615.0,8615.0,8615.0,56,0.0,2.0,429.0,19.0,448.0

In [67]:
fips.to_csv("hospital.csv")