In [83]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [1]:
import os
os.chdir("../raw data")

In [84]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]
fips.head()

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [85]:
# importing the 4 mmr data
cardiovascular = pd.read_excel('cardiovascular.xlsx')
cardiovascular = cardiovascular.iloc[:, 2:]
cardiovascular.head()

diabetes = pd.read_excel('diabetes.xlsx')
diabetes = diabetes.iloc[:, 2:]
diabetes.head()

mental = pd.read_excel('mental.xlsx')
mental = mental.iloc[:, 2:]
mental.head()

neoplasm = pd.read_excel('neoplasm.xlsx')
neoplasm = neoplasm.iloc[:, 2:]
neoplasm.head()

   State Code              County  County Code  Deaths  Population Crude Rate
0           1  Autauga County, AL         1001      95       55601      170.9
1           1  Baldwin County, AL         1003     559      218022      256.4
2           1  Barbour County, AL         1005      69       24881      277.3
3           1     Bibb County, AL         1007      59       22400      263.4
4           1   Blount County, AL         1009     138       57840      238.6

In [86]:
def row_loc_county(inp):
    location = fips.index[(fips['fips']) == inp].values
    location = location.tolist()
    return location

In [88]:
fips["c_population"] = ""
fips["cardiovascular_deaths"] = ""
fips["cardiovascular_crudeRate"] = ""

fips["d_population"] = ""
fips["diabetes_deaths"] = ""
fips["diabetes_crudeRate"] = ""

fips["m_population"] = ""
fips["mental_deaths"] = ""
fips["mental_crudeRate"] = ""

fips["n_population"] = ""
fips["neoplasm_deaths"] = ""
fips["neoplasm_crudeRate"] = ""

fips.head()

,stfips,stname,ctyfips,ctyname,fips,c_population,cardiovascular_deaths,cardiovascular_crudeRate,d_population,diabetes_deaths,diabetes_crudeRate,m_population,mental_deaths,mental_crudeRate,n_population,neoplasm_deaths,neoplasm_crudeRate
0,1,Alabama,0,0,0,,,,,,,,,,,,
1,1,Alabama,1,Autauga County,1001,,,,,,,,,,,,
2,1,Alabama,3,Baldwin County,1003,,,,,,,,,,,,
3,1,Alabama,5,Barbour County,1005,,,,,,,,,,,,
4,1,Alabama,7,Bibb County,1007,,,,,,,,,,,,

In [89]:
for i in range(cardiovascular.shape[0]):
    fips.iloc[row_loc_county(cardiovascular.iloc[i, 2]), fips.columns.get_loc("cardiovascular_deaths")] = cardiovascular.iloc[i, 3]
    fips.iloc[row_loc_county(cardiovascular.iloc[i, 2]), fips.columns.get_loc("c_population")] = cardiovascular.iloc[i, 4]
    fips.iloc[row_loc_county(cardiovascular.iloc[i, 2]), fips.columns.get_loc("cardiovascular_crudeRate")] = cardiovascular.iloc[i, 5]

for i in range(diabetes.shape[0]):
    fips.iloc[row_loc_county(diabetes.iloc[i, 2]), fips.columns.get_loc("diabetes_deaths")] = diabetes.iloc[i, 3]
    fips.iloc[row_loc_county(diabetes.iloc[i, 2]), fips.columns.get_loc("d_population")] = diabetes.iloc[i, 4]
    fips.iloc[row_loc_county(diabetes.iloc[i, 2]), fips.columns.get_loc("diabetes_crudeRate")] = diabetes.iloc[i, 5]

for i in range(mental.shape[0]):
    fips.iloc[row_loc_county(mental.iloc[i, 2]), fips.columns.get_loc("mental_deaths")] = mental.iloc[i, 3]
    fips.iloc[row_loc_county(mental.iloc[i, 2]), fips.columns.get_loc("m_population")] = mental.iloc[i, 4]
    fips.iloc[row_loc_county(mental.iloc[i, 2]), fips.columns.get_loc("mental_crudeRate")] = mental.iloc[i, 5]
    
for i in range(neoplasm.shape[0]):
    fips.iloc[row_loc_county(neoplasm.iloc[i, 2]), fips.columns.get_loc("neoplasm_deaths")] = neoplasm.iloc[i, 3]
    fips.iloc[row_loc_county(neoplasm.iloc[i, 2]), fips.columns.get_loc("n_population")] = neoplasm.iloc[i, 4]
    fips.iloc[row_loc_county(neoplasm.iloc[i, 2]), fips.columns.get_loc("neoplasm_crudeRate")] = neoplasm.iloc[i, 5]

In [90]:
fips

,stfips,stname,ctyfips,ctyname,fips,c_population,cardiovascular_deaths,cardiovascular_crudeRate,d_population,diabetes_deaths,diabetes_crudeRate,m_population,mental_deaths,mental_crudeRate,n_population,neoplasm_deaths,neoplasm_crudeRate
0,1,Alabama,0,0,0,,,,,,,,,,,,
1,1,Alabama,1,Autauga County,1001,55601,164,295.0,55601,29,52.2,55601,13,Unreliable,55601,95,170.9
2,1,Alabama,3,Baldwin County,1003,218022,762,349.5,218022,26,11.9,218022,113,51.8,218022,559,256.4
3,1,Alabama,5,Barbour County,1005,24881,125,502.4,,,,24881,10,Unreliable,24881,69,277.3
4,1,Alabama,7,Bibb County,1007,22400,104,464.3,,,,,,,22400,59,263.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,,,,,,,,,,,,
3320,72,Puerto Rico,149,Villalba Municipio,72149,,,,,,,,,,,,
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,,,,,,,,,,,,
3322,72,Puerto Rico,153,Yauco Municipio,72153,,,,,,,,,,,,
3323,72,Puerto Rico,unknown,unknown,unknown,,,,,,,,,,,,

In [2]:
os.chdir("../data")

In [91]:
fips.to_csv("mmr.csv")